
*{
background-color: rgb(233, 197, 213);
}
.Kal {
    width: 200px;
}

.Quizz {
    width: 400px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    text-align: center;
}


.button{
    margin-top: 40vh;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(50, 130, 184);
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    /* margin-top: 2rem; */
    border: none;
    outline: none;
}

.button,
.buttons button,
.bottom button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(50, 130, 184);
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
    border: none;
    outline: none;
}

.buttons {
    margin-left: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.buttons {
    flex-wrap: wrap;
}

.Box {
    border: 2px solid rgb(50, 130, 184);
    height: 25vw;
    width: 40vw;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}
